ul{
    padding:0;
}
#section{
    margin:0 auto;
    width:40%;
}
.no_comment{
    text-align:center;
    margin:5% 0;
}
.review_header_text{
    text-align:center;
    font-weight:bold;
    padding:3% 0;
    font-style:italic;
}
.item_header, .review_score_header{
    font-weight:bold;
    color:#999;
    font-size:16px;
}
.item_title{
    color:#000;
    font-size:18px;
    word-break:keep-all;
}
.review_score{
    margin-top:20px;
}
.item{
    list-style:none;
    margin:2% 0;
    border-bottom:2px solid #f4f4f4;
}
.comment_item_title{
    font-weight:bold;
    font-size:17px;
    word-break:keep-all;
}
.comment{
    font-weight:bold;
    font-size:15px;
    color:#888;
    word-break:keep-all;
    padding:1% 0;
}
.comment_data{
    margin-bottom:20px;
    font-weight:bold;
    font-size:13px;
}
.graph_mask
{
    position:relative;
	display:inline-block;
	width:80px;
	height:13px;
	background-position:0 -61px;
	right:5px;
}
.star_image_box
{
	position:relative;
	overflow:hidden;
	width:110px;
	height:20px;
}
.star_image
{
	position:absolute;
	object-fit:cover;
	object-position:0% 0%;
	height:20px;
}
.total_ratio{
    font-weight:bold;
    position:relative;
    bottom:3px;
    font-size:15px;
    margin-left:25px;
}
.review_count{
    color:#999;
    font-size:15px;
    font-weight:bold;
    border-bottom:3px solid #999;
}
.review_valid_score{
    color:#999;
    font-weight:bold;
    font-size:15px;
    float:right;
}
.gototop
{
    z-index:1200;
    position:relative;
    background-color:#e9ecef;
    text-align:center;
    margin-top:10px;
}
.lnk_top
{
    padding:18px 0px 19.5px;
    font-size:15px;
    color:#000;
}
#footer
{
    margin-top:40px;
    z-index:1200;
    position:relative;
    background-color:#e9ecef;
    word-wrap:break-word;
    text-align:center;
    clear:both;
    height:140px;
}
.name1
{
    margin-top:10px;
    font-size:15px;
    color:#999;
}
.copyright
{
    padding-right:10px;
    font-size:13px;
    color:#999;
}